$primary-color: #04BFBF;
$secondary-color: #1D82F2;
$max-width: 600px;

body {
	font-family: "Lato", "Avenir", sans-serif;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4{
	text-align: center;
}

p { font-size: 1em;}
h4 { font-size: 1.6em;}
h3 { font-size: 1.6em;}
h2 { font-size: 2.6em;}
h1 { font-size: 4.1em;}

a {
	color: $secondary-color;
}

.top-margin{
	margin-top: 50px;
}

#top{
	background-color: $primary-color;
	color: white;

	#menu{
		width: $max-width;
		margin: auto;
		padding-top: 10px;
		text-align: right;
		a {
			color: white;
			text-decoration: none;
			padding-left: 10px; 
		}
		a:hover{
			text-decoration: underline;
		}
	}

	#header{
		padding-top: 25px;
		padding-bottom: 25px;

		h1{
			margin: 0;
		}
	}	
}


#footer{
	background-color: $primary-color;
	color: white;
	text-align: center;
	padding: 25px;
	margin-top: 50px;
}

#main{
	max-width: $max-width;
	margin: 0 auto;

	#subheader{
		h2,h3 {
			margin: 0;
		}
	}
}

.star{
	text-align: center;
	img{
		width: 120px;
	}
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.map{
	float: left;
	margin: 5px;
	iframe{
		border: none;
	}
}

.after-maps{
	margin-bottom: 20px;
	clear: both;
}

.mobile{
	display: none;
}

@media only screen and (max-width: 600px) {
	#menu{
		display: none;
	}

	p{
		padding-left: 5px;
		padding-right: 5px;
	}

	h2{ font-size: 1.6em; }
	.mobile-small{ font-size: 1em; }

	/* make banner text smaller */
	#header{
		h1{
			font-size: 1.6em;
		}
	}

	.large-star{
		img{
			width: 60px;
		}
	}

	.small-star{
		display: none;
	}

	.map{
		iframe{
			display: none;
		}
		float: none;
		.mobile{
			margin-bottom: 10px;
		}
	}

	.mobile{
		display: inherit;
	}
}
